body {
        font-size:12px;
        background: transparent url('../images/Stainless_Steel.jpg');
       	-webkit-background-size: cover;
    	-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;
  		font-family: Arial, Georgia, Sans Serif;
  		color:white;
    }
#content{
	background-color:black;
	min-height:300px;
	padding:1em;
}

.control-group {
margin-bottom: 20px;
}

.form-actions{
	background-color:transparent;
	border-top:0px;
}

.FormConfig label{
	float:left;
}
.FormConfig input,.FormConfig select{
	float:right;
}
