body {
        font-size:12px;
        background: transparent url('../images/Stainless_Steel.jpg');
       	-webkit-background-size: cover;
    	-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;
  		font-family: Arial, Georgia, Sans Serif;
  		color:white;
    }
#content{
	background-color:black;
	min-height:300px;
	padding:1em;
	height: 850px;
}

.FormConcu{
	padding:0em 1em;
}

.FormConcu form{
	margin-bottom:0px;
}
#vizualization{
	background-color:#e0e0e0;
	height: 830px;
}

.control-group {
margin-bottom: 20px;
}

.form-actions{
	background-color:transparent;
	border-top:0px;
}

.FormConfig label,.FormConcu label{
	float:left;
}
.FormConfig input,.FormConfig select,.FormConcu input{
	float:right;
}

#iframe{
	margin-top: 0px;
	background-color:transparent;
	display:block;	
	-moz-transform: scale(0.450);
	-moz-transform-origin: 0 0;
	-o-transform: scale(0.450);
	-o-transform-origin: 0 0;
	-webkit-transform: scale(0.450);
	-webkit-transform-origin: 0 0;
}


#iframe body{
	margin-top:0px !important;
}
