@(message: String,addResetForm:Form[ResetForm],configForm:Form[ConfigForm],logLevels:Seq[(String, String)])
@import helper._ 
@import helper.twitterBootstrap._

@main("Welcome to Play") {

	<div class="span6">
		<p>@message</p>
		<div id="config">
			@form(routes.Brain.resetManu("Manual Reset")){
			<div>
				<div>
				Reset the application and send an Error to server
					<span class="pull-right">			
						<button type="submit" class="btn btn-danger pull-right">Reset</button>				
					</span>
				</div>
			@inputText(addResetForm("cause"),'_label -> "Cause*", 'class -> "span12", '_showErrors -> true,'_showConstraints -> false)
			</div>
			}
			
			<div class="FormConfig span9">
				@form(action =routes.Brain.config(),'class -> "form-horizontal"){
				@checkbox(configForm("emailSender"),'_label ->"Email Sender on Log severe",
				'_showErrors -> false,
				'_showConstraints -> false,
				'_class -> "control-group") 
			
				@checkbox(configForm("displayLogs"),'_label ->"Display Logs",
				'_showErrors -> false,
				'_showConstraints -> false,
				'_class -> "control-group")
				
				@select(configForm("levelLogs"),options=logLevels,
				'_label ->"Log Level",
				'_showErrors -> false,
				'_showConstraints -> false,
				'_class -> "control-group"
				)
				<div class="form-actions">
	  				<button type="submit" class="btn btn-primary">Save changes</button>
				</div>
				}
			</div>		
			@if(configForm.hasGlobalErrors) {
    		<ul>
    			@configForm.globalErrors.foreach { error =>
        		<li>error.message</li>
    			}
    		</ul>
			}		
		</div>	
	</div>
	<div class="span6">
	</div>
}
