@(message: String,addResetForm:Form[ResetForm],configForm:Form[ConfigForm])
@import helper._ 
@main("Welcome to Play") {

	<div class="span6">
		<p>@message</p>
		<div id="config">
			@form(routes.Brain.resetManu("Manual Reset")){
			<div>
				<div>
				Reset the application and send an Error to server
					<span class="pull-right">			
						<button type="submit" class="btn btn-danger pull-right">Reset</button>				
					</span>
				</div>
			@inputText(addResetForm("cause"),'_label -> "Cause*", 'class -> "span12", '_showErrors -> true)
			</div>
			}
			<br>
			@form(action =routes.Brain.config()){
			<div class="control-group">
				<span>Email Sender on Log severe</span>
				<div class="make-switch pull-right">
	    			<input name="emailSender" id="emailSender" type="checkbox" checked>
				</div>	
			</div>	
			<div class="control-group">
				<span>Display Logs</span>
				<div class="make-switch pull-right">
	    			<input name="displayLogs" id="displayLogs" type="checkbox" checked>
				</div>	
			</div>		
			<div class="form-actions">
  				<button type="submit" class="btn btn-primary">Save changes</button>
			</div>		
			}	
		</div>	
	</div>
	<div class="span6">
	</div>
}
