@(message: String,addResetForm:Form[ResetForm],configForm:Form[ConfigForm],logLevels:Seq[(String, String)],algos:Seq[(String, String)])
@import helper._ 
@import helper.twitterBootstrap._

@main("Welcome to Play") {
	<div class="span12">
		<p>@message</p>
		<div class="FormConfig">
		@form(action =routes.Brain.config(),'class -> "form-horizontal"){
			<div class="span6">
			@checkbox(configForm("emailSender"),'_label ->"Email Sender on Log severe",
				'_showErrors -> false,
				'_showConstraints -> false,
				'_class -> "control-group") 
			
				@checkbox(configForm("displayLogs"),'_label ->"Display Logs",
				'_showErrors -> false,
				'_showConstraints -> false,
				'_class -> "control-group")
				
				@select(configForm("levelLogs"),options=logLevels,
				'_label ->"Log Level",
				'_showErrors -> false,
				'_showConstraints -> false,
				'_class -> "control-group"
				)
				
				@select(configForm("algo"),options=algos,
				'_label ->"Select Current algorithm",
				'_showErrors -> false,
				'_showConstraints -> false,
				'_class -> "control-group"
				)
				
				@inputText(configForm("pondclient"),'_label -> "Client ponderation", 'class -> "control-group", '_showErrors -> true,'_showConstraints -> false)
				
				@inputText(configForm("pondwaiter"),'_label -> "Waiter ponderation", 'class -> "control-group", '_showErrors -> true,'_showConstraints -> false)
			</div>
			<div class="span6">
				@inputText(configForm("minlevel"),'_label -> "Level Min", 'class -> "control-group", '_showErrors -> true,'_showConstraints -> false)
				
				@inputText(configForm("maxlevel"),'_label -> "Level Max", 'class -> "control-group", '_showErrors -> true,'_showConstraints -> false)
				
				@inputText(configForm("cabinCount"),'_label -> "Number of cab", 'class -> "control-group", '_showErrors -> true,'_showConstraints -> false)
				
				@inputText(configForm("bestcapacity"),'_label -> "Target Capacity", 'class -> "control-group", '_showErrors -> true,'_showConstraints -> false)
				
				@inputText(configForm("maxCapacity"),'_label -> "Max Capacity", 'class -> "control-group", '_showErrors -> true,'_showConstraints -> false)
				<div class="form-actions">
		  				<button type="submit" class="btn btn-primary">Save changes</button>
				</div>
			</div>
		
		}
		@if(configForm.hasGlobalErrors) {
    		<ul>
    			@configForm.globalErrors.foreach { error =>
        		<li>error.message</li>
    			}
    		</ul>
		}	
		</div>
	</div>
	<div class="span11">
		<div class="span6">
			<div id="config">
				@form(routes.Brain.resetManu("Manual Reset")){
				<div>
					<div>
					Reset the application and send an Error to server
						<span class="pull-right">			
							<button type="submit" class="btn btn-danger pull-right">Reset</button>				
						</span>
					</div>
				@inputText(addResetForm("cause"),'_label -> "Cause*", 'class -> "span12", '_showErrors -> true,'_showConstraints -> false)
				</div>
				}
				
		
				@if(configForm.hasGlobalErrors) {
	    		<ul>
	    			@configForm.globalErrors.foreach { error =>
	        		<li>error.message</li>
	    			}
	    		</ul>
				}		
			</div>	
		</div>
		<div class="span6">
	
		</div>
	</div>
}
